/* 
 * MAIN STYLES
 */

body {
	font-family: Helvetica, sans-serif;
}

header {
	background-color: black;
	color: yellow;
	font-size: 1.5em;
	padding: 1em;
	text-transform: uppercase;
}
footer {
	background-color: black
	

}

/* 
 * COLUMNS STYLES
 */

.columns {
	float: none;
	height: 500px;
	padding: 2%;
	width: 29.33%;
}

.columns h2 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.75em 0;
}

.columns ul {
	margin-left: 2em;
}

.columns li {
	list-style-type: disc;
	padding: 0 5px;
}

.columns p,
.columns li {
	line-height: 1.2em;
}

/* 
 * DIFFERENT SECTIONS, DIFFERENT STYLES
 */

.navigation ul{ 
	float-left;

}
section {
	width: 33.33333%;
	float:left;
}



}
#section1 {
	background-color: #ff9999;
	opacity: 0.5;
	
}


	#section2 {
	background-image: 
	
}

#section3 {
	background-color: #9999ff;
	
}


	


#footer{
	font-color: white;
	background-color: black;
}

